$bg-color: #f3f3f3;
$card-bg-color: #fffefe;
$text-color: #000000;
$secondary-color: #827E7E;
$button-color: #C64839;
$border-color: #a19f9f;

$base-font-size: 14px;
$primary-font: 'Poppins';

$box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
