@import '../../styles/main.scss';

.card {
  &__text-content {
    width: 77%;
    // height: 200px;
    font-family: $primary-font;
    overflow: hidden;
  }
  .text-content {
    &__title {
      height: 23px;
      max-width: 80%;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: $primary-font;
    }
    &__rating {
      border: 1px solid;
      padding: 4px 5px;
      border-radius: 50%;
    }

    &__opening, &__genre {
      color: $secondary-color;
      font: {
        size: 13px;
        family: $primary-font;
      }
    }

    &__genre {
      margin-bottom: 3px;
      padding: 1px 3px;
      border: 1px solid $border-color;
      border-radius: 5px;
      white-space: nowrap;
      // margin-top: -10px;
    }

    &__description {
      font-family: $primary-font;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 150%;
    }
  }
}