@import '../../styles/main.scss';

.card {
  &__text-content {
    width: 60%;
    height: 165px;
    font-family: $primary-font;
    overflow: hidden;
  }
  .text-content {
    &__title {
      min-height: 20px;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: $primary-font;
    }

    &__opening, &__genre {
      padding-bottom: 5px;
      color: $secondary-color;
      font: {
        size: 13px;
        family: $primary-font;
      }
    }

    &__genre {
      padding: 1px 3px;
      border: 1px solid $border-color;
      border-radius: 5px;
      white-space: nowrap;
      margin-top: -15px;
    }
    &__description {
      font-family: $primary-font;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 150%;
    }
  }
}