@import '../../styles/main.scss';

.card {
  width: 48%;
  height: 250px;

  .text-content {
    width: 70%;
    height: 200px;
    font-family: $primary-font;
    min-height: 0;
    overflow: hidden;

    .title {
      text-overflow: ellipsis;
    }

    .opening, .genre {
      color: $secondary-color;
      font: {
        size: 13px;
        family: $primary-font;
      }
    }

    .genre {
      padding: 1px 3px;
      border: 1px solid $border-color;
      border-radius: 5px;
    }
    .description {
      font-family: $primary-font;
      line-clamp: 4;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 150%;
    }
  }
}