@import './styles/main';

html,
body {
  height: 100%;
  line-height: 1;
}
#root {
  height: 100%;
}
.wrapper {
  overflow: hidden;
  height: 100vh;
}
[class*="__container"] {
  background-color: $bg-color;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  color: $text-color;
  font: {
    size: $base-font-size;
    family: $primary-font
  }
}
.header, .footer, .wrapper{
  background-color: $bg-color;
}
