@import './styles/main';

html,
body {
  height: 100%;
  line-height: 1;
  background-color: $bg-color;
}
#root {
  height: 100%;
}
.wrapper {
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}
[class*="__container"] {
  background-color: $bg-color;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  color: $text-color;
  font: {
    size: $base-font-size;
    family: $primary-font
  }

  @media (max-width: 1100px) {
    max-width: 1000px;
  }

  @media (max-width: 991.98px) {
    max-width: 750px;
  }

  @media (max-width: 767.98px) {
    max-width: none;
  }
}
.header, .footer, .wrapper{
  background-color: $bg-color;
}
